body{margin: auto;font-family:Product Sans, serif;background-color: #000000;text-align: center;margin-left: 50%;}
h1{color:#FFFFFF;font-family:'Product Sans', serif;font-size: 5.9vw;}
h2{color:#FFFFFF;font-family:'Product Sans', serif;font-size: 3.0vh;}
a:link {
    color: #FFFFFF;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
}
a:active {
    color: blue;
    text-decoration: none;
}
[alt="ThePonyInformationProject"], [alt="Github"] {
  width: 50%;
  max-width: 50px;
  height: auto;
}
[alt="Pony"] {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
@media only screen and (max-width: 775px) {
.parallax {
  background-image: url("pony.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
[alt="Pony"] {
  display:none;
}
[alt="ThePonyInformationProject"], [alt="Github"], [alt="GPG"] {
  width: 50px;
  height: auto;
}
[alt="GPG"]{
  width: 40px;
  height: auto;
}
body{
  margin-left: auto;
}
}